.container {
  max-width: 980px;
  padding-bottom: 5rem;
  margin: 5rem auto 0;

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
  }

  .hero-table {
    margin-bottom: 2.5rem;
    width: 100%;
    mat-icon {
      cursor: pointer;
    }
  }
}
